/* STYLESHEET DOCUMENT */

/* selection and general tools */

::selection {
    color: #0f0f0f;
    background-color: gold;
}

/* installing font family */

@font-face {
    font-family: 'Lemon Milk';
    src: url(../fonts/LEMONMILK-Regular.otf)
}

/* semantic elements */

header {
    margin-bottom: 75px;
}

body {
    background-color: black;
    background-image: url(../images/heikala_bg2.png);
    background-size: cover;
    background-position: bottom top;
    background-attachment: fixed;
}

h1 {
    font-family: 'Lemon Milk';
    font-size: 40px;
    letter-spacing: 2px;
}

h1 a:hover {
    color: gold;
}

h2 {
    font-family: 'Lemon Milk';
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Lemon Milk';
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

main {
    padding-bottom: 376px;
}

input {
    margin-bottom: 5px;
}

button {
    margin-bottom: 10px;
}

/* class and id structures */

.divider {
    text-align: center;
    color: goldenrod;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divination {
    padding-left: 40px;
    padding-right: 40px;
}

.topweather {
    float: left;
    margin-bottom: -5px;
    margin-right: 10px;
}

.bottomweather {
    float: left;
    position: relative;
    right: 20px;
}

.forecastbox {
    border: 1px solid rgb(223, 187, 98);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.linebreaker {
    margin-bottom: 20px;
    font-weight: bold;
}

.extrapadding {
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 5px;
}

#searchHistory {
    margin-top: 10px;
    margin-left: 10px;
}